* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  min-width: 100vw;
  min-height: 50vh;
  margin: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.info h1 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 1rem;
  letter-spacing: 1.5rem;
  margin-bottom: 50px;
}
.info span {
  display: flex;
  flex-direction: row;
  color: rgb(197, 140, 60);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.typing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
