* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  width: 500px;
}
table {
  color: #fff;
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
th {
  padding: 10px;
  text-align: center;
  color: white;
  border: 1px solid #ccc;
}
